body {
	font-family: "Outfit";
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: hsla(211, 46%, 88%, 1);
	text-align: center;
	font-size: 15px;
	font-weight: 400;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 260px;
	height: auto;
	padding: 17px 17px 43px 17px;
	gap: 20px;
	background: hsl(0, 0%, 100%);
	box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

h1 {
	width: 261px;
	color: hsl(218, 44%, 22%);
	font-size: 21px;
	font-weight: 700;
}

p {
	width: 250px;
	color: hsl(220, 15%, 55%);
}

img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}
