*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

body {
	font-family: "Outfit";
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	background: hsla(211, 46%, 88%, 1);
	text-align: center;
	font-weight: normal;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-width: 200px;
	min-height: 310px;
	padding: 10px 10px 23px 10px;
	gap: 12px;
	background: hsl(0, 0%, 100%);
	box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

h1 {
	font-size: 15px;
	color: hsl(218, 44%, 22%);
	font-weight: 700;
}

p {
	font-size: 11px;
	color: hsl(220, 15%, 55%);
}

img {
	max-width: 100%;
	display: block;
	border-radius: 10px;
}
